* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}
.toprow{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}
.buttons{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    width: 200px;
    margin: 0;
    border: 0px;
    padding: 0;
    
}
.display{
    border: 5px;
    border-color: black;
}
.clear, .number, .decimal, .equal{
    background-color: green
    /* width: auto; */
    /* height: auto; */
}
.operator{
    background-color: lightgreen;
}
/* 
.highlight{
    background-color: blue;
} */